{{#if successMessage}}
  <div class="success-message">
    <strong>Success!</strong> {{successMessage}}
  </div>
{{/if}}

<h2>{{property.NAME}}</h2>
{{#if property.thumbnail}}
<img src="{{property.thumbnail}}" width="200">
{{/if}}

<p><b>Hosted by:</b> {{property.[host name]}} ({{property.host_identity_verified}})</p>
<p><b>Location:</b> {{property.neighbourhood}}, {{property.[neighbourhood group]}}, {{property.country}}</p>
<p><b>Room type:</b> {{property.[room type]}}</p>
<p><b>Price:</b> ${{property.price}}</p>
<p><b>Reviews:</b> {{property.[number of reviews]}}</p>
<p><b>Rate:</b> {{property.[review rate number]}}/5</p>
<p><b>House Rules:</b> {{property.house_rules}}</p>

{{#if property.images}}
<h3>Images</h3>
{{#each property.images}}
  <img src="{{this}}" width="200" style="margin:5px;">
{{/each}}
{{/if}}